
  #root {
    padding: 30px;
  }
  
  .search-form {
    max-width: 350px;
    margin: auto;
    background-color: lightslategray;
  }
  .lbl {
    margin: 5px;
  }

  .btn {
    background : lightskyblue;
    margin-top: 5px;
  }
 

  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-container > div {
    /*background-color: #f1f1f1;
    /*margin: 10px;
    padding: 20px;
    font-size: 20px;*/
  }

  .child {
    flex: 1 0 21%; 
    margin: 2px;
    margin-top: 2px;
    font-size: 16px;
  }

  .example-card {
    max-width: 400px;
    border-color: lightslategray;
    
  }
  




  .button {
    text-align: center;
    font-size: 1.5em;
    margin: 0 auto;
    width: 15%;
    padding: 8px;
    border: 2px solid;
    border-color: #e7dd84;
    background-color: rgba(236, 229, 167, 0.2);
    transition: 0.35s;
  }
  .button a, active {
    text-decoration: none;
    color: #e7dd84;
  }
  .button a:hover {
    text-decoration: none;
    color: black;
  }
  .button:hover {
    color: black;
    background-color: white;
    border-color: white;
    transition: 0.35s;
  }